$padding-field-vertical: 1.4rem;
$padding-field-horizontal: 1.27rem;

@mixin field($type: false) {
  @include field-text;
  @include label-placeholder;
  @include border-radius;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: $padding-field-vertical $padding-field-horizontal;
  font-family: $font-primary;
  line-height: $line-height-base;

  border-color: $color-black;
  border-width: $border-width-ml;
  border-style: solid;
  width: 100%;

  @if $type {
    padding-left: 4rem;
    background-position: 1rem;
    background-repeat: no-repeat;
  }

  @if $type == search {
    @include icon-eyeglass($color-gray-tinted);

    &:focus {
      @include icon-eyeglass($color-text);
    }
  }
}

@mixin field-error {
  color: $color-negative;
}

@mixin field-autocomplete {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  margin-top: -$border-width-ml * 2;
  z-index: 2;
  background-color: $color-background;
  border: $color-black solid $border-width-ml;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-top: none;

  .content-item {
    padding: $padding-field-vertical/1.5 $padding-field-horizontal;
    @include text-body-black;
    cursor: pointer;

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      background-color: $color-main;
    }
  }

  &:before {
    background-color: $color-gray-medium;
    top: -$border-width-ml;
    height: $border-width-ml;
    left: $border-width-ml;
    right: $border-width-ml;
    content: "";
    display: block;
  }
}
