$padding-field-vertical: 1.4rem;
$padding-field-horizontal: 1.27rem;

@mixin field($type: false, $size: normal) {
  @include field-text;
  @include label-placeholder;
  @include border-radius;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: $padding-field-vertical $padding-field-horizontal;
  font-family: $font-primary;
  line-height: $line-height-base;
  background-color: $color-white;

  border-color: $color-black;
  border-width: $border-width-ml;
  border-style: solid;
  width: 100%;

  @if $size == small {
    padding-top: $padding-field-vertical / 2;
    padding-bottom: $padding-field-vertical / 2;
  }

  @if $type {
    padding-left: 4rem;
    background-position: 1rem;
    background-repeat: no-repeat;

    @if $size == small {
      padding-left: 2.5rem;
      background-position: 0.6rem;
      background-size: 1.5rem;
      font-size: $font-size-normal;
      border-width: $border-width-m;
    }
  }

  @if $type == search {
    @include icon-eyeglass($color-gray-tinted);

    &:focus {
      @include icon-eyeglass($color-text);
    }
  }
}

@mixin field-error {
  color: $color-negative;
}

@mixin field-autocomplete {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  margin-top: -$border-width-ml * 2;
  z-index: 2;
  background-color: $color-background;
  border: $color-black solid $border-width-ml;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-top: none;

  .content-item {
    padding: $padding-field-vertical/1.5 $padding-field-horizontal;
    @include text-body-black;
    cursor: pointer;

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      background-color: $color-main;
    }
  }

  &:before {
    background-color: $color-gray-medium;
    top: -$border-width-ml;
    height: $border-width-ml;
    left: $border-width-ml;
    right: $border-width-ml;
    content: "";
    display: block;
  }
}

@mixin select-option {
  @include field-text;
  padding: $padding-field-vertical/1.5 $padding-field-horizontal;
  background-color: $color-background;
  cursor: pointer;

  &:hover {
    background-color: $color-white;
  }
}

@mixin select {
  position: relative;
  padding-right: 100px;

  &:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    content: "";
    display: block;
    background-image: url("~@/assets/images/ui/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 59px;
    height: 44px;
    pointer-events: none;
  }
}
