@mixin font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$font-size-xsmall: 0.77rem;
$font-size-small: 0.88rem;
$font-size-normal: 1rem;
$font-size-normal-large: 1.11rem;
$font-size-medium-small: 1.33rem;
$font-size-medium: 1.44rem;
$font-size-large: 1.66rem;
$font-size-x: 2.222rem;
$font-size-xl: 2.77rem;
$font-size-xxl: 3.33rem;

$line-height-base: 1.1;
$line-height-default: 1.1rem;
$line-height-medium: 1.2rem;
$line-height-large: 1.4rem;
$line-height-xxl: 2rem;
$line-height-xxl-relative: 1.2em;

/////// TYPE SCALE :
// equivalent of h1
@mixin title-large {
  font-size: $font-size-xxl;
  line-height: $line-height-base;
  font-weight: $font-weight-extrabold;

  @include breakpoint("small") {
    font-size: $font-size-xxl;
  }
}

// equivalent of h2
@mixin title-medium {
  font-size: $font-size-xl;
  line-height: $line-height-base;
  font-weight: $font-weight-black;

  @include breakpoint("small") {
    font-size: $font-size-xl;
  }
}

// equivalent of h3
@mixin title-small {
  font-size: $font-size-large;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;

  @include breakpoint("small") {
    font-size: $font-size-large;
  }
}

// equivalent of h4
@mixin title-xsmall {
  font-size: $font-size-medium;
  line-height: $line-height-base;
  font-weight: $font-weight-extrabold;

  @include breakpoint("small") {
    font-size: $font-size-medium;
  }
}

// for larger body copy
@mixin text-large {
  font-size: $font-size-normal-large;
  line-height: $line-height-base;
  font-weight: $font-weight-medium;

  @include breakpoint("small") {
    font-size: $font-size-normal-large;
  }
}

// equivalent of h5
@mixin text-large-black {
  @include text-large;
  font-weight: $font-weight-extrabold;
}

// for most body copy
@mixin text-body {
  font-size: $font-size-normal;
  line-height: $line-height-base;
  font-weight: $font-weight-semibold;
}

@mixin text-body-black {
  @include text-body;
  font-weight: $font-weight-black;
}

// for small labels and texts
@mixin text-small {
  font-size: $font-size-small;
  line-height: $line-height-base;
  font-weight: $font-weight-semibold;
}

@mixin text-small-extrabold {
  @include text-small;
  font-weight: $font-weight-black;
}

// for extra small labels and texts
@mixin text-xsmall {
  font-size: $font-size-xsmall;
  line-height: $line-height-base;
  font-weight: $font-weight-semibold;
}

@mixin label-input {
  font-size: $font-size-normal-large;
  line-height: $line-height-base;
  font-weight: $font-weight-extrabold;
}

@mixin field-text {
  font-size: $font-size-medium;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;
  color: $color-text;
}

@mixin label-placeholder {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color-gray-tinted;
    font-family: $font-primary;
    font-weight: $font-weight-semibold;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-gray-tinted;
    font-family: $font-primary;
    font-weight: $font-weight-semibold;
  }
  &::-ms-input-placeholder {
    /* IE 10+ */
    color: $color-gray-tinted;
    font-family: $font-primary;
    font-weight: $font-weight-semibold;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $color-gray-tinted;
    font-family: $font-primary;
    font-weight: $font-weight-semibold;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color-gray-tinted;
    font-family: $font-primary;
    font-weight: $font-weight-semibold;
  }
  &::placeholder {
    color: $color-gray-tinted;
    font-family: $font-primary;
    font-weight: $font-weight-semibold;
  }
}

///////// END TYPESCALE - other text types

@mixin menu-item {
  text-decoration: none;
  color: $color-text;
  font-weight: $font-weight-extrabold;
  font-size: $font-size-normal-large;

  &.active,
  &.router-link-exact-active {
    color: $color-main;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

@mixin link {
  color: $color-secondary;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
